// Place all the styles related to the ohayo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front-box {
	background-color: rgba(255, 255, 255, 0.75);
	padding: .5em;
}

.front-box.bottom {
	position: absolute;
	left: 5px;
	bottom: 5px;
}

.auth {
	position: absolute;
	top: 10px;
	right: 10px;
	a, a:visited, a:active, a:hover {
		background-color: rgba(255, 255, 255, 0.75);
		color: white;
		text-decoration: none;
	}
	a.visible, a.visible:visited, a.visible:visited, a.visible:hover {
		color: black;
	}
	a.visible:hover {
		color: blue;
	}
	a.visible.exit:hover {
		color: red;
	}
}